*{
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* section 1 */
#page1 {
    width: 100%;
    height: 100vh;

    position: relative;
}

#cursor {
    width: 7.5vw;
    height: 7.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #ff5f38;

    transform: translate(-50%, -50%);

    position: fixed;
    z-index: 9;
}

#cursor h5 {
    font-size: 1vw;
    font-weight: 400;
}

#page1 video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    
    position: absolute;
}

#page1-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: white;

    padding-bottom: 4vw;

    position: relative;
    z-index: 10;
}

nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3vw 3vw;
}

nav h3 {
    font-size: 1.4vw;
    font-weight: 400;
}

nav h4 {
    font-size: 1.4vw;
    font-weight: 400;
}

#page1-content h1 {
    font-size: 22vw;
    font-family: "montserrat";
}

#page1-content h1 span {
    font-family: "montserrat";
}

/* section 2 */
.page2 {
    width: 100%;
    height: 100vh;

    padding: 60px 40px 0 40px;
}

#page2__info-top {
    display: flex;
    justify-content: space-between;
    align-items: end;

    border-bottom: 0.5px solid black;
    padding-bottom: 14px;
}

#page2__info-top h4 {
    font-size: 1.4vw;
    font-weight: 500;
}

.elem, .page4 #elem {
    overflow: hidden;
}

.first-line, .page4 #first-line {
    text-indent: 8vw;
}

.page2 h1, .page4 h1 {
    font-size: 3.6vw;
    font-weight: 400;

    margin-top: 10px;
}

/* section 3 */
.page3 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 3vw;
}

#page3-top {
    text-align: center;
}

#page3-top h4 {
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}

#page3-top h4 span {
    font-size: 0.7vw;
    background-color: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 14px;
}

#page3-top h2 {
    font-size: 4vw;
    font-weight: 500;
}

.page3-elements {
    width: 100%;
    height: 75vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 8vw;
}

.page3-elements #box {
    width: 32.5%;
    height: 100%;

    position: relative;
}

.page3-elements #box img{
    width: 100%;
    height: 100%;

    position: absolute;

    object-fit: cover;
    object-position: 75%;

    transition: all 0.7s linear;
}

.page3-elements #box:hover img{
    opacity: 0;
}

.page3-elements #box video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

/* section 4 */
.page4 {
    width: 100%;
    min-height: 100vh;

    padding: 60px 40px 60px 40px;
}

.page4__video div{
    display: flex;
    justify-content: center;

    margin-top: 8vw;
}

.page4__video video{
    width: 38vw;
    height: 38vw;
    
    object-fit: cover;
    object-position: center;
    
    border-radius: 50%;

    filter: blur(12px);
}

/* section 5 */
.page5 {
    width: 100%;
    height: 100vh;

    padding: 4vw;

    position: relative;
}

.page5 h1 {
    font-size: 10vw;
    font-weight: 600;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}