*{
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    height: 100vh;

    position: relative;
}

#cursor {
    width: 7.5vw;
    height: 7.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #ff5f38;

    transform: translate(-50%, -50%);

    position: fixed;
    z-index: 9;
}

#cursor h5 {
    font-size: 1vw;
    font-weight: 400;
}

#page1 video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    
    position: absolute;
}

#page1-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: white;

    padding-bottom: 4vw;

    position: relative;
    z-index: 10;
}

nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3vw 3vw;
}

nav h3 {
    font-size: 1.4vw;
    font-weight: 400;
}

nav h4 {
    font-size: 1.4vw;
    font-weight: 400;
}

#page1-content h1 {
    font-size: 22vw;
    font-family: "montserrat";
}

#page1-content h1 span {
    font-family: "montserrat";
}